body {
    background: black;
    color: white;
    font-size: 2em;
    font-family: sans-serif;
}

#wrapper {
    width: 75%;
    margin: 0 auto;
    text-align: center;
}

#clue {
    font-size: 3em;
}

#answer-input {
    width: 25%;
    font-size: 1em;
    margin-top: 1em;
}

#active-time {
    font-size: 0.75em;
    margin-top: 1em;
}

#previous-games {
    margin: 0 auto;
    font-size: 0.5em;
    text-align: center;
    margin-top: 5em;
}

#previous-games table {
    margin: 0 auto;
}