body {
    background: black;
    color: white;
    font-size: 2em;
    font-family: sans-serif;
}

#wrapper {
    width: 50%;
    margin: 0 auto;
}

h1, h2 {
    text-align: center;
}

#clue {
    text-align: center;
    font-size: 3em;
}