<div id="wrapper">
    <h1>Black is Down</h1>

    <h3>Guess the movie that has been described using emoji.</h3>

    <div id="clue">
        {{clue}}
    </div>

    <div id="answer">
        <input id="answer-input" />
        <input id="answer-submit" type="button" value="Guess" />
    </div>

    <div id="active-time">
        Guessing for {{activeTime}}
    </div>
</div>