<!DOCTYPE html>
<html>

<head>
    <title>{{htmlWebpackPlugin.options.title}}</title>
    <meta charset="UTF-8" />
</head>

<body>




    <div id="wrapper">
        <h1>Black is Down</h1>

        <h2>Current game</h2>

        <div id="clue"></div>

        <div id="answer">
            <input id="answer-input" placeholder="Answer" />
        </div>

        <div id="active-time">
            Active for
        </div>

        <div id="previous-games">
            <h2>Previous games</h2>
            <table border="true">
                <thead>
                    <th>Clue</th>
                    <th>Answer</th>
                    <th>Solved by</th>
                    <th>Active time</th>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</body>

</html>